body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
}

.ql-container {
  min-height: 300px;
  flex: 1;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width  : 10%;
}

button:hover {
  background-color: #45a049;
}

.version-list {
  flex: 1;
  max-width: 300px;
  gap: 10px;
  background-color: #f9f9f9;
  padding: 10px;
}
.version-list > div {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.version-list > div:hover {
  background-color: #f2f2f2;
  border-color: #999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
h2 {
  margin-bottom: 5px;
}

.versioned-editor {
  display: flex;
}
